<div>
  <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline', gutters:false, liveSplitters:true" style="width: 1320px; height: 200px;" data-dojo-attach-point="borderContainer5">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" style="height: 28px;" data-dojo-attach-point="adm_header">
      <tt>Edit Admixture</tt>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" data-dojo-attach-point="adm_matrix">
      <div id="adm_matrix_div">
      </div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'" style="height: 65px;" data-dojo-attach-point="ref_save">
      <button data-dojo-attach-point="adm_save_button" data-dojo-type="dijit/form/Button" type="button">Save</button>
      <button data-dojo-attach-point="adm_undo_button" data-dojo-type="dijit/form/Button" type="button">Undo</button>
    </div>
  </div>
</div>
