<div>
  <img id="basemap" src="app/maps/basemap.jpg" style="display:none;">
  <table>
    <tr>
      <td>
        <div id="surfaceElement">
          <!-- <img src="app/images/empty_diagram_medium.png"> -->
        </div>
      </td>
      <td valign=top>
        <div id="grid"></div>
        <!--
        <div data-dojo-type="dijit/form/SimpleTextarea" style="width: 280px; height: 600px;" data-dojo-attach-point="communitySourceData" id="communitySourceData" data-dojo-props="readOnly:true">
        </div>
        -->
        <br>
        <button data-dojo-attach-point="TheButton" data-dojo-type="dijit/form/Button" type="button">Show Metric</button>
      </td>
    </tr>
  </table>
</div>
