<div>
  <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline', gutters:true, liveSplitters:true" style="width: 930px; height: 630px;" data-dojo-attach-point="borderContainer3">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left'" style="width: 615px;" data-dojo-attach-point="surface_ap">
      <div id="surfaceElement">
      </div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" data-dojo-attach-point="data_ap">
      <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline', gutters:true, liveSplitters:true" style="width: 275px; height: 605px;" data-dojo-attach-point="borderContainer4">
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" style="height: 28px;" data-dojo-attach-point="buttons_ap">
          <button data-dojo-attach-point="showMetric" data-dojo-type="dijit/form/Button" type="button">Show Metric</button>
          <label>Version:</label><select data-dojo-attach-point="chooseVersion" data-dojo-type="dijit/form/Select">
            <option value="3" selected="selected">V.3</option>
            <option value="2">V.2</option>
            <option value="1">V.1</option>
          <select>
          <button data-dojo-attach-point="refresh" data-dojo-type="dijit/form/Button" type="button">Refresh</button>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left'" style="width: 75px;" data-dojo-attach-point="you_ap">
          YOU
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" data-dojo-attach-point="hshe_ap">
          hshe
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'right'" style="width: 75px;" data-dojo-attach-point="them_ap">
          them
        </div>
      </div>
    </div>
  </div>
</div>
