<div>
  <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="mcp" id="mcp">
    <div id="m_migrationAnchor"></div>
    <div id="m_migrationSpace" data-dojo-attach-point="m_migrationSpace"></div>
    <div id=m_north data-dojo-type="dijit/form/Button" data-dojo-attach-point=m_north><img src="app/images/arrow_north.png"></div>
    <div id=m_west data-dojo-type="dijit/form/Button" data-dojo-attach-point=m_west><img src="app/images/arrow_west.png"></div>
    <div id=m_south data-dojo-type="dijit/form/Button" data-dojo-attach-point=m_south><img src="app/images/arrow_south.png"></div>
    <div id=m_east data-dojo-type="dijit/form/Button" data-dojo-attach-point=m_east><img src="app/images/arrow_east.png"></div>
    <div id=m_zoomin data-dojo-type="dijit/form/Button" data-dojo-attach-point=m_zoomin><img src="app/images/zoomin.png"></div>
    <div id=m_zoomout data-dojo-type="dijit/form/Button" data-dojo-attach-point=m_zoomout><img src="app/images/zoomout.png"></div>
    <div id=m_upper_right data-dojo-type="dijit/form/Button" data-dojo-attach-point=m_upper_right><img src="app/images/upper_right.png"></div>
    <div id=m_lower_left data-dojo-type="dijit/form/Button" data-dojo-attach-point=m_lower_left><img src="app/images/lower_left.png"></div>
    <div data-dojo-attach-point="mmigrationmap" id="mmigrationmap"></div>
  </div>
</div>
