  <div style="width: 99%; height: 80%;">
    <div data-dojo-type="dijit/layout/TabContainer" style="width: 99%; height: 90%;" data-dojo-id="treeContainer" data-dojo-attach-point="treeContainer">
      <div data-dojo-attach-point="mtreepane" data-dojo-id="mtreepane" data-dojo-type="dijit/layout/ContentPane" title="MtDNA Tree <img src=app/images/icon-actions-download.gif id=m_download>" data-dojo-props="selected:true">
        <div id="theTree1">
        </div>
      </div>
      <div data-dojo-attach-point="ytreepane" data-dojo-id="ytreepane" data-dojo-type="dijit/layout/ContentPane" title="Y Chromosome Tree <img src=app/images/icon-actions-download.gif id=y_download>">
        <div id="theTree2">
        </div>
      </div>
    </div>
  </div>
