<div>
    <div data-dojo-type="dijit/layout/TabContainer" style="width: 99%; height: 125px;" data-dojo-id="recordsetContainer" data-dojo-attach-point="recordsetContainer">
      <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="myRecordsets" title="My Recordsets">
        <div id="my_recordsets">
        </div>
      </div>
      <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="search" title="Search">
        <div id="my_search">
        </div>
      </div>
      <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="records" title="Records">
      </div>
    </div>
</div>
