<div>
  <table>
    <tr>
      <td valign=top>
        <div data-dojo-type="dijit/form/SimpleTextarea" style="width: 99%, height: 99%" data-dojo-attach-point="yresults" id="yresults" data-dojo-props="readOnly:false">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div data-dojo-attach-point="yresultstree" data-dojo-type="dijit/layout/ContentPane" title="Y Results">
          <div id="theResultsY" data-dojo-attach-point="yresultstree2">
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
